body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: #333232;
}

p, ul, li, a {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.link {
    text-decoration: none;
    color: inherit;
    opacity: .6;
}

a:hover {
    opacity: 1;
    transition: opacity .7s;
}

.top-bar {
    padding: 50px;
    background-color: #FFD1CC;
    text-align: center;
}
  
.bottom-bar {
    padding: 50px;
    background-color: #333232;
    color: white;
}